.wrapper {
    width: 250px;

    img {
        aspect-ratio: 1;
        object-fit: contain;
        width: 100%;
        border-radius: 50px;
        background-color: gray;
    }

    .tite{
        font-weight: 700;
        font-size: 1.5rem;

    }

    .price-label {
        font-weight: 300;
        font-style: 1.5rem;
    }

    .price {
        font-weight: 500;
        font-size: 1rem;
    }
}